
* {
    margin: 0px;
    padding: 0px;
}

:root {

    --cor1: #8AC24A;
    --cor2: #ffffff;
    --cor3: #f5f5f5;

}

.parteUm {
    background-color: var(--cor1);
    padding: 7px;
    
}

.parteUm p {
    text-align: center;
    font-size: 11px;
    color: var(--cor2);
}

.parteDois {

    background-color: var(--cor3);


}

#logo {
    width: 50%;
    border-radius: 1000%;
}