
* {
    margin: 0px;
    padding: 0px;
}

:root {

    --cor1: #8AC24A;
    --cor2: #ffffff;
    --cor3: #f5f5f5;

}

.parteUm {
    background-color: var(--cor1);
    padding: 7px;
    
}

.parteUm p {
    text-align: center;
    font-size: 11px;
    color: var(--cor2);
}

.parteDois {

    background-color: var(--cor3);
    padding: 20px;
    align-content: center;
    margin: auto;

    
}

#logo {
    width: 15%;
    height: 20%;
    border-radius: 100%;
    margin-top: 2px;
    margin-bottom: 2p;
    margin-left: 4px;
}

#menu-header {

    list-style: none;
    padding: 0;
    text-align: center;
    max-width: fit-content;
    min-width: fit-content;
}

#menu-header li {

    display: inline;

}

#menu-header li a {

    color: rgb(0, 0, 0);
    padding: 25px;
    text-decoration: none;
    display: inline;
    
}

.parteDois a {

    color: black;
    padding: 5px 30px;
    border: 1px solid var(--cor5);
    text-decoration: none;
    display: flex;
    transition: .5s ease-in-out;
    text-transform: uppercase;
    align-items: center;

}

a:hover {

    background-color: var(--cor1);
}

.mobile-menu{
    display: none;
    cursor: pointer;
}



.mobile-menu div {
    width: 50px;
    height: 2px;
    background: #000000;
    margin: 8px;
}


@media (max-width: 999px){
    .nav-list {
    position:absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #ffffff;
    flex-direction: column;
    }
}
